<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %} Bienvenidos {% endblock %} </title>
	<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/media/css/excite-bike/jquery-ui-1.10.3.custom.css">

	<script src="/media/js/ajax.js"></script>
	<script src="/media/js/jquery.js"></script>
	<script src="/media/js/jquery-ui.js"></script>
	<script src="/media/js/jquery.form.min.js "></script>
	<script src="/media/js/demo.js "></script>
	<script src="/media/js/bootstrap-collapse.js "></script>
	<script src="/media/bootstrap/js/bootstrap.js"></script>
	<style>
		body{
		background-color: white
		}
	</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top navbar-fixed-top"> 
		<div class ="navbar-inner">
			
		<div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">	
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
<!--b!suI97mJHSsK-->
			<a class = "brand" href = "{% url 'vista_principal' %}">BOOKSI </a>
			<div class="nav-collapse collapse">
				<ul class = "nav">
					{% if user.is_authenticated and user.is_staff and user.is_superuser %}
						<li><a href="{% url 'vista_administrar'%}">Administrador</a></li>
					{% endif %}
					<li><a href = "{% url 'vista_info' %}">Contacto </a></li>
					<li><a href = "/bibliotecas"><i class="icon-list-alt icon-white"> </i> Reglamento </a></li>
				</ul>

				<ul class="nav pull-right">
					{% if user.is_authenticated %}
						<li><a class="navbar pull-right" href = "{% url 'vista_logout' %}">Cerrar Sesion</a></li>
					{% else %}
						<li><a class="navbar pull-right" href = "{% url 'vista_login' %}"><i class="icon-user icon-white"> </i> Iniciar Sesion</a></li>
					{% endif %}

					{% if user.is_authenticated %}
						<li>
							Bienvenido {{ user.username }} 
							{% if user.usuario.photo %}
							<img class="navbar pull-right img-circle" src = "/media/{{ user.usuario.photo }}" width = "50px"  heigth = "50px"> 
	           				{% endif %}

						</li>	
           			{% endif %}
				</ul>
			</div><!--/.nav-collapse -->


        </div>
    </div>
    </div>

	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  	<div class="carousel-inner">
		    
		   <div class="active item"> <center>
		    	<img src="/media/images/fondo1.png">
			    <div class="carousel-caption">
			    	<h4>Caption 1</h4>
			    </div></center>
		    </div>

		    <div class="item"> <center>
		    	<img src="/media/images/fondo2.png">
			    <div class="carousel-caption">
			    	<h4>Caption 2</h4>
			    </div></center>
		    </div>

		    <div class="item"> <center>
		    	<img src="/media/images/fondo3.png">
			    <div class="carousel-caption">
			    	<h4>Caption 3</h4>
			    </div></center>
		    </div>
		    
		</div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>	
	
	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span8">
					<div class="hero-unit">
						{% block content %}
						{% endblock %}
					</div>
				</div>
				<div class="span3">
					<div class="well sidebar-nav">
						<div class="nav nav-list">
					<center><li  class ="nav-header"><h3>Biblioteca </h3></li>
  
            	
          		</div><!--/.well -->
          			<div class="well sidebar-nav">
            			<ul class="nav nav-list">
            			  <center><li class="nav-header">Ultimos libros</li></center>
              				<br><p align="justify">
              				Quijote de la mancha
              				</p>
            			</ul>
          			</div><!--/.well -->
          		<div class="well sidebar-nav">
            		<ul class="nav nav-list">
            		  <center><li class="nav-header">Redes sociales</li></center>
            		  <br><p align="justify">


            	        <img src="/media/imagenes/social_facebook.png" width = "40px"  heigth = "40px">
            			<a href="https://www.google.com.co/">facebook.com/Biblioteca</a>
						<br>            			
            			<img src="/media/imagenes/social_twitter.png" width = "40px"  heigth = "40px">
            			<a href="https://www.google.com.co/">@bibliotecas12</a>



            		  </p>
            		</ul>
				</div><!--/.well -->
				<div class="well sidebar-nav">
            		<ul class="nav nav-list">
            		<center><b><li class="nav-header"></li></b>
            		<p align="justify">
						{% if user.is_authenticated %}
							<a class ="brand" href="{% url 'vista_logout' %}"><h4>Cerrar Sesion</h4></a>
							<a class ="brand" href="{% url 'vista_administrar'%}"><h4>Administrador</h4></a>
						{% else %}	
							<a class ="brand" href="{% url 'vista_login' %}"><h4>Iniciar Sesion</h4></a>
							<a href="/registro/"><h4> Registrarse</h4> </a></center>	
						{% endif %}
						</center>
					</p>
            		</ul>
				</div>
					
							<!--h1>Informacion</h1>
							<div class="alert alert-info">
								<h5>ADSI 661169</h5>
								<p><b>Direccion </b> : INEM </p>
								<p><b>Telefono</b> : 314 636 09 66</p>
								<b>The black's - Cauca</b-->
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div> 
	</body>
</html>
