{% extends 'base.html' %}

{% block title %}
	Lista de Editoriales
{% endblock %}
{% block content %}
	<form action="." method="POST">
		{% csrf_token %}
		{{ form.as_p}}
		<input class="btn btn-success" type="submit" value="Guardar">
		<input class="btn btn" type="reset" value="Limpiar">
		<input class="btn btn-danger" type="submit" value="Cancelar">
	</form>


	<!-- Button to trigger modal -->
	

	<!-- Modal -->
	{% if m %}
	<body onload="cargar()">
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			
			</div>
			<div class="modal-body">
				<p>El Editorial se ha agregado satisfactoriamente   </p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-info" href="{% url 'vista_editoriales' %}">Aceptar</a>
				
			</div>
		</div>
	</body>
	{% endif %}
	<script>
function cargar()
{
	//alert("Presiona el boton Aceptar si deseas agregar el usuario");
	$('#myModal').modal('show');
	

	//document.getElementById("content").innerHTML='<object type="type/html" data="home.html"></object>'
}
</script>



{% endblock %}