{% extends 'base.html' %}
{% block title %} Buscar {% endblock %}
{% block content %} 

	
<!-- LLamando al formulario  VERONICA DOMINGUEZ Y SOFIA ALVAREZ -->
Ingrese el título, autor o categoría a buscar
	<form action="." method="POST">
		{% csrf_token %}
		{{ form.as_p }}
<button type = "submit" class = "btn btn-success" >Buscar </button>
	</form>
	
	{% if buscar1 or buscar2 or buscar3 %}



			

							{% if buscar1%}
							<h4>Se encontraron los siguientes libros relacionados con el título ingresado</h4>
							<table  class = "table table-hover ">
								
									<tbody>
										<theader>
											<tr>
												<th> Título </th>
												<th> Autor </th>
											
												<th> Categoría(s) </th>
											</tr>
										</theader> 
										
								
											{% for c in buscar1 %}
												
												<tr><td>{{c.nombre_libro}}</td>
												<td>{{c.autor}}</td>
												
												{% for l in c.categoria.all %} 	
													<td>{{ l }}</n></td>
												{% endfor %}
												<td><a class ="btn btn-primary" href="/reservar/{{ c.id }}"> Reservar libro </a></td>
												</tr>
											{% endfor %}
										{% endif%}
									<tbody>
							</table>


							<!--Para autor -->
									{% if buscar3 %}
										<h4>Se encontraron los siguientes libros relacionados con el nombre del autor ingresado</h4>

										<table  class = "table table-hover ">
											<tbody>						
													<theader>
														
															<tr>
																<td><h4>Nombre</h4></td>
															
																<td><h4>Categoría(s)</h4></td>
															</tr>
														
													</theader>
													{% for a in buscar3 %} 
														<tr><td>{{a.nombre_libro}}</td>
														
														{% for n in a.categoria.all %} 
															<td>{{ n }}</td>
														{% endfor %}
														<td><a class ="btn btn-primary" href="/reservar/{{ a.id }}"> Reservar libro </a></td>

														</tr>				
													{% endfor %}
											</tbody>
										</table>
									{% endif%}


							<!--Para categorias -->
											{% if buscar2 %}
												<h4>Se encontraron los siguientes libros relacionados con la categoría ingresada</h4>
												<table  class = "table table-hover ">
													<tbody>
														<theader>
															
																<tr>
																	<td><h4>Nombre</h4></td>
																	<td><h4>Autor</h4></td>
																	
																	<td><h4>Categoría(s)</h4></td>
																</tr>
															
														</theader>
													{% for z in buscar2 %} 


														<tr><td>{{z.nombre_libro}}</td>
														<td>{{z.autor}}</td>
														<td>{{z.editorial}}</td>
														
														{% for b in z.categoria.all %} 
																<td>{{ b }}</td>
															{% endfor %}
														<td><td><a class ="btn btn-primary" href="/reservar/{{ z.id }}"> Reservar libro </a></td></td>
														</tr>
													{% endfor %}
													</tbody>
												</table>
											{% endif %}
									

					

					<!--<a class = "btn btn-info" href="/libro/{{p.id}}"><li class="icon-search"></li> Ver </a>-->
			
					
		
	{% else %}
		{% if mensaje  %}

			
				<div class="alert alert-danger" class "alert fade in">
					<button type="button " class="close" data-dismiss="alert">&times;</button>
				
					<strong>
				
						<center>{{ mensaje }}</center>
					</strong>
				</div>
		
		{% endif %}		

	{% endif %}
	
		
{% endblock %}


				









		