{% extends 'base.html' %}

{% block title %}
	Ingrese codigo del libro 
{% endblock %}
<br>

<br>
{% block content %}
<h3> Ingrese el codigo del libro	</h4>
	<form action="." method = "POST" >
		{% csrf_token %}
		{{ form.as_p }}
	
		<button type="submit" class="btn btn-info" >Buscar </button>
		<a class = "btn btn-inverse" href="/administrar/"></li>  Regresar </a>

	</form>
{% load humanize %}
	{% if libro_encontrado %}
		<h2> El libro fue encontrado satisfactoriamente :) !!! </h2>
		{{ libro_encontrado.nombre_libro|title }}
	



		{{ libro_encontrado.fecha_publicacion }}
		
		
	{% endif %}
		{{ info }}
{% endblock %}