{% extends 'base.html' %}

{% block title %}
	Editar Autor
{% endblock %}

{% block content %}

<script>
  $(function() {
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2015",
      dateFormat: 'dd/mm/yy',
      // You can put more options here.

    });
  });
  </script>
  
	<form action="." method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-success" value="Guardar Cambios">
		<a class="btn btn-danger" data-dismiss="modal" aria-hidden="true" href = "/autores/{{p.id}}">Cancelar</a>
	</form>
	<br>

	{{ info}}

{% endblock %}
