{% extends 'base.html' %}

{% block title %}
	Editar editorial
{% endblock %}

{% block content %}
	<center><h4> Editar editorial</h4> </center>
	<form action="." method="POST" enctype = "multipart/form-data"  align="center">
		{% csrf_token %}
		{{ form.as_p}}
		<input type="submit" class="btn btn-success" value="Guardar Cambios">
		<input class="btn btn-default" type="submit" value="Cancelar">
	</form>
	<br>

	{{ info }}
	<a href="/editoriales/">Mostrar Lista de editoriales</a>
{% endblock %} 