{% extends 'base.html' %}
{% block title %}
	Editar categoría
{% endblock %}
{% block content %}
	
	<center> <h4> Editar categoría </h4> </center>
	<form action="." method ="POST"align="center">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-success" value="Guardar Cambios">
		<a class="btn btn-danger" data-dismiss="modal" aria-hidden="true" href = "/categorias/{{p.id}}">Cancelar</a>
	</form>
	</form>
	<a href="/categorias/">Mostrar la lista de categorías</a>
	
	{{ info }}
{% endblock %}  