{% extends 'base.html' %}
{% block title %} Libros prestados por mes {% endblock %}
{% block content %}

<head>
<style>
.ui-datepicker-calendar {
    display: none;
    }
</style>
<script>
  $(function() {
    $( "#datepicker1 , #datepicker").datepicker({
      changeMonth: true,
      changeYear: false,
      showButtonPanel: true,
      dateFormat: 'dd/mm/yy',
      gotoCurrent: true,
      onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            $(this).datepicker('setDate', new Date(2015, month, 1));
        }
      // You can put more options here.

    });
  });
  </script>
</head>
  <div align="center">
    <h3>Por favor ingrese una fecha para realizar la busqueda </h3>
   </div>
  <br>
    <div align="center">
        <h4>Para generar el reporte Correctamente seleccione el mes que desea consultar y presione la opcion Generar reporte</h4>
    </div>
  <br>

    <form action="." method="POST" align="center">
      {% csrf_token %}
      {{ reporte_libro.as_p }}
      <input type="submit" value ="Generar Reporte" class= "btn btn-success"/>
    </form>

    {% if prest_libro %}
      <a href="{% url 'vista_reporte_libros_mes' %}" class="btn btn-success" download = "Reporte_Libros_prestados_por_mes.pdf" >Exportar reporte a PDF</a>
    
      <table class="table table-hover alert alert-info table-condensed">
        <caption><h3>REPORTE DE LIBROS DEL MES DE {{ fecha_libro|date:"N" }} </h3></caption>
        <header>
          <tr>
            <th>Nombre</th>
            <th>Fecha de Prestamo</th>
            <th>Fecha de Devolucion</th>
          </tr>
        </header>
      {% for pre in prest_libro %}
        <body align="justify">
          <tr>
            <td>{{pre.libro.nombre_libro}}</td>
            <td>{{pre.fecha_prestamo}}</td>
            <td>{{pre.fecha_devolucion}} </td>

            {% if user.is_authenticated %}
              <td>
                <a class="btn btn-info" href="/libro/{{pre.libro.id}}"><li class="icon-search"></li> Ver Libro </a>
                
              </td>
            {% endif %}
          </tr>
        </body> 
      {% endfor %}
      </table>
    

    {% else %}
      {% if mensaje %}
      <div align="center" class ="alert danger-info">
        <p> No se encontraron reportes de libros prestados por mes {{ fecha_libro|date:"N" }} del año {{ fecha_libro|date:"Y" }}</p>
      </div>

      {% endif %}
      

    {% endif %}
  
{% endblock %}