{% extends 'base.html' %}

{% block title %}
	Bibliotecas
{% endblock %}
{% block content %}

<h4>Biblioteca{{ biblioteca.nombre }}</h4>
	<br>
	
	<p><b>Direccion: </b>{{ biblioteca.direccion }}</p>
	<p><b>Telefono: </b>{{ biblioteca.telefono }}</p>
	<p><b>Correo: </b>{{ biblioteca.correo }}</p>
	
	{% if biblioteca.mision %}


		<p><b>Mision: </b></p>
			<p>{{ biblioteca.mision }}</p>

	{% endif %}

	{% if biblioteca.vision %}

		<p><b>Vision: </b></p>
			<p>{{ biblioteca.vision }}</p>
	
	{% endif %}

		<p><b>Reglamento: </b></p>
			<p>{{ biblioteca.reglamento }}</p>

	<td><a class ="btn btn-warning" href="/edit/biblioteca/{{ biblioteca.id }}"> <li class= "icon-pencil"></li> Editar </a></td>
	<a class="btn btn-inverse" href="/administrador/">Regresar</a>
{%endblock%}



	