{%extends 'base.html' %}


{% block title %}
	Libro
{% endblock %}


{% block content %}		
		<table class = "table table-hover ">
				<theader>

					<center>
					<h3>{{ libro.nombre_libro }}</h3>
					<br>
					{% if libro.imagen %} 
						<img src = "/media/{{ libro.imagen }}" width = "200px" alt="La imagen no está disponible" heigth = "80px"> </center>
					{% endif %}
  
				</theader>
					<tbody>
						<tr>
							<td><h4>Autor</h4><p>		{{ libro.autor }}</p></td>
							<td><b>Código				<br>{{ libro.codigo }}</td>
							<td><b>Fecha de adquisición </b><br>{{ libro.fecha_adquisicion }}</td>

								
							<tr>	
								<td><h4>Categoría</h4>
								{% for c in libro.categoria.all %} 
									
										{{ c }}

								{% endfor %}</td>
								<td><p><b>Versión </b>				<br>{{ libro.version }}</p></td>
								<td><b>Fecha de publicación</b>		<br>{{ libro.fecha_publicacion }}</td>
							</tr>
								
							<br>
							
						</tr>
							<tr>
								<td><p><b>Editorial </b>			<br>{{ libro.editorial }}</td>
								<td><b>Páginas </b>					<br>{{ libro.paginas }}</td>
								<td><p><b>Tomo </b> 				<br>{{ libro.tomo }}</td>
							</tr>
							<tr>	
								<td><b>Estado</b> 					<br>{{ libro.estado }}</p></td>
								<td><p> <b>Disponible:   </b> 
								{% if libro.disponibilidad = True and libro.estado_prestamo = Devuelto %}  <!-- SI LIBRO ESTA EN "TRUE", permite el prestamo del libro, sino... -->

									Si 
								{% else %}
									No
								{% endif %}
								</p> </td>
								<td> <b> Observación: 				<br>{{ libro.observacion }}</td>


							<tr>
						</tr>
					</tbody>
		</table>
					 

							{% if libro.disponibilidad = True %}  <!-- SI LIBRO ESTA EN "TRUE", permite el prestamo del libro, sino... -->
							{% else %}
								<h2> El libro no está disponible </h2>
							{% endif %}
		{% if user.is_authenticated and user.is_staff and user.is_superuser %}	
			<a class ="btn btn-warning" href= "/edit/libro/{{libro.id}}"> <li class= "icon-pencil"></li> Editar </a>
			<a class ="btn btn-primary" href="/reservar/{{ libro.id }}"> Reservar libro </a>
		{% endif %}	

			<a class="btn btn-primary" href="/libros/">Lista de libros</a>
		
		
{% endblock %}















