{% extends 'base.html' %}

{% block title %}
	Bibliotecas
{% endblock %}
{% block content %}
<div class= "alert alert-info">
	<center> <h4>Biblioteca </h4> </center>
		{{ biblioteca.nombre }}</h1>
		<br>
		
		<p><b>Dirección: </b>{{ biblioteca.direccion }}</p>
		<p><b>Teléfono: </b>{{ biblioteca.telefono }}</p>
		<p><b>Correo: </b>{{ biblioteca.correo }}</p>
		
		{% if biblioteca.mision %}


			<p><b>Misión: </b></p>
				<p>{{ biblioteca.mision }}</p>

		{% endif %}

		{% if biblioteca.vision %}
			<p><b>Visión: </b></p>
			<p>{{ biblioteca.vision }}</p>
		{% endif %}
			<p><b>Reglamento: </b></p>
			<p>{{ biblioteca.reglamento }}</p>

	{% if user.is_authenticated and user.is_staff and user.is_superuser and bliblioteca %}	
		<td><a class ="btn btn-warning" href="/edit/biblioteca/{{ biblioteca.id }}"> <li class= "icon-pencil"></li> Editar </a></td>
	{% endif %}	
	{% if user.is_authenticated and user.is_staff and user.is_superuser  %}	
		<a <a class="btn btn-info"  href="/add/biblioteca/{{e.id}}"> <li class= "icon-plus"></li> Agregar biblioteca</a>	
	{% endif %}
		<a class="btn btn-inverse" href="/">Ir al inicio</a>
</div>
{%endblock%}




	