{% extends 'base.html' %}

{% block title %}
	Usuario
{% endblock %}

{% block content %}

		<div class="alert alert-warning ">
			<p><b>Nombre de Usuario: </b> {{usuario.user.username}}</p>
			<p><b>Correo Electronico: </b> {{usuario.user.email}}</p>
		</div>
		<br>
		<div class="alert alert-warning ">
			<h3> Usuario: </h3>
			<br>
			<p>	<b>Nombre: </b> {{ usuario.nombre }}</p>
			<p> <b>Apellidos: </b>{{ usuario.apellido }}</p>
			<p> <b>Identificacion: </b>{{ usuario.identificacion }}</p>
			<p> <b>Tipo de identificación: </b>{{ usuario.tipo_id }}</p>
			<p> <b>Ciudad: </b>{{ usuario.ciudad}}</p>
			<p> <b>Fecha de nacimiento: </b>{{ usuario.fecha_nac }}</p>
			<p> <b>Telefono: </b>{{ usuario.telefono }}</p>
			<p> <b>Dirección: </b>{{ usuario.direccion }}</p>
			<p> <b>Género: </b>{{ usuario.genero}}</p>
			<p> <b>Tipo de usuario: </b>{{ usuario.tipo_usuario}}</p>
			<p> <b>Prestamo: </b> </p><!--{{ usuario.tiene_prestamo }}</p-->
			{% if usuario.tiene_libro = True %}
				Si 
			{% else %}
				No
			{% endif %}
			
		</div>
		<a  class="btn btn-primary" href="/usuarios/">Usuarios</a>

		{% if user.is_authenticated and user.is_staff %}
			<a class="btn btn-warning" href="/edit/usuario/{{ usuario.id }}">  Editar</a>
		{% endif %}
{% endblock %}	
