{%extends 'base.html' %}


{% block title %}
	Libro
{% endblock %}


{% block content %}		
		<table class = "table table-hover ">
				<theader>

					<center>
					<h3>{{ libro.nombre_libro }}</h3>
					<br>

  
					 <img src = "/media/{{ libro.imagen }}" width = "200px" heigth = "80px"> </center>
				</theader>
					<tbody>
						<tr>
							<td><h4>Autor</h4><p>		{{ libro.autor }}</p></td>
							<td><b>codigo				<br>{{ libro.codigo }}</td>
							<td><b>Fecha de adquisicion </b><br>{{ libro.fecha_adquisicion }}</td>

								
							<tr>	
								<td><h4>Categoria</h4>
								{% for c in libro.categoria.all %} 
									
										{{ c }}

								{% endfor %}</td>
								<td><p><b>Version </b>				<br>{{ libro.version }}</p></td>
								<td><b>Fecha de publicacion</b>		<br>{{ libro.fecha_publicacion }}</td>
							</tr>
								
							<br>
							
						</tr>
							<tr>
								<td><p><b>Editorial </b>			<br>{{ libro.editorial }}</td>
								<td><b>Paginas </b>					<br>{{ libro.paginas }}</td>
								<td><p><b>Tomo </b> 				<br>{{ libro.tomo }}</td>
							</tr>
							<tr>	
								<td><b>Estado</b> 					<br>{{ libro.estado }}</p></td>
								<td><p> <b>Disponible:   </b> 
								{% if libro.disponibilidad = True and libro.estado_prestamo = Devuelto %}  <!-- SI LIBRO ESTA EN "TRUE", permite el prestamo del libro, sino... -->

									Si 
								{% else %}
									No
								{% endif %}
								</p> </td>
								<td> <b> Observacion: 				<br>{{ libro.observacion }}</td>


		
		

		


							<tr>
						</tr>
					</tbody>
		</table>
					 

							{% if libro.disponibilidad = True %}  <!-- SI LIBRO ESTA EN "TRUE", permite el prestamo del libro, sino... -->
							{% else %}
								<h2> El libro No esta disponible </h2>
							{% endif %}
			<a class ="btn btn-warning" href= "/edit/libro/{{libro.id}}"> <li class= "icon-pencil"></li> Editar </a>
			<a class ="btn btn-primary" href="/reservar/{{ libro.id }}"> Reservar Libro </a>
			

			<a class="btn btn-primary" href="/libros/">Lista de libros</a>
			<!--td> <a class ="btn btn-success" href="/prestar/{{ libro.id }}"> Prestar Libro </a></p> </td>
							

			

{% endblock %}















